
.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;             
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.main-wrapper {
  width: 100%;
  overflow-x: hidden;
}
